vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|06 Nov 2008 20:19:14 -0000
vti_extenderversion:SR|5.0.2.2623
vti_author:SR|ATA1\\x
vti_modifiedby:SR|ATA1\\x
vti_timecreated:TR|06 Nov 2008 20:19:14 -0000
vti_cacheddtm:TX|06 Nov 2008 20:19:14 -0000
vti_filesize:IR|729
vti_cachedlinkinfo:VX|S|list.gif S|closed.gif
vti_cachedsvcrellinks:VX|FSUS|ASNet/list.gif FSUS|ASNet/closed.gif
vti_lineageid:SR|{476653E0-43B5-4A6C-9EF4-5BC3F35242A0}
vti_backlinkinfo:VX|ASNet/menu.htm ASNet/menu_dnm.htm
